.container {
  margin: 6rem 4rem 2rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  position: relative;
}
.left > :nth-child(1) {
  font-size: 1.7rem;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}
.left > :nth-child(2) {
  font-size: 1.4rem;
  width: 20rem;
  display: block;
  text-transform: uppercase;
}
.left > :nth-child(3) {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.left img {
  position: absolute;
  bottom: 22%;
  left: 5%;
}

.wrapper {
  width: 27rem;
}