.container {
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.749);
  color: #fff;
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  text-align: left;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.container .contact,
.account,
.company,
.resource {
  display: flex;
  flex-direction: column;
}

.container .type {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.type .location,
.phone,
.mail {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: small;
}

/*  *************************************************/
@media only screen and (max-width: 600px) {
  .container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .info {
    font-size: medium;
  }
}
